mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.login-form {
  max-width: 300px;
  padding: 2rem 3rem;
  border-radius: 1.5rem;
  margin: 10rem auto auto;
  box-sizing: border-box;
}

.login-form button {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-weight: bold;
  width: 100%;
  padding: 0.875rem 1rem;
  border-radius: 0.5rem;
}

.login-form input {
  width: 250px;
  border: none;
  border: 0 none;
}
